nav {
  background-color: rgb(21, 10, 118);
  ul {
    //橫向
    display: flex;
    //拉向右側
    justify-content: flex-end;
    margin-right: 3rem;
    li {
      padding: 0.5rem 1rem;
      a {
        font-size: 1.5rem;
        color: white;
      }
    }
  }
}
